.navbar {
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #dcdcdc;
}

.navbar-container {
    display: flex;
    align-items: center;
    gap: 8rem;
    justify-content: space-between;
    width: 75%;
}

.nav-links {
    display: flex;
    gap: 4rem; 
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;         
    font-family: arial, san-serif;
  }
  
.nav-links li a:hover {
  color: #7B4E3F;
}