<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Homepage | Bean and Brew </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/beanandbrewlogo.png')}}">
    <script src="{{ url_for('static', filename='static/scripts.js') }}" defer> </script>
</head>

<body>
    <nav class="navbar">
        <div class ="navbar-container">

            <ul class="nav-links">
                <li><a href="/menu">MENU</a></li>
                <li><a href="/about">NUTRITION & ALLERGENS</a></li>
                <li><a href="/rewards">REWARDS</a></li>
                <li><a href="/register">JOIN NOW</a></li>
                <li><a href="/login">SIGN IN</a></li>
            </ul>





        </div>
    </nav>
    
</body>
</html>