<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage | Grounded Coffee Shop </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/grounded2.png') }}">
</head>

<body>
    <nav class ="navbar">
        <div class ="navbar-container">

            <a href="/" class="logo-link">
                <img src="{{ url_for('static', filename='assets/grounded2.png') }}" alt="" class="logo">
            </a>

            <ul class="nav-links">
              <li><a href="/menu">MENU</a></li>
                <li><a href="/about">ABOUT US</a></li>
              <li><a href="/rewards">REWARDS</a></li>
              <li><a href="/contact">CONTACT</a></li>
            </ul>
        
            <!-- Dropdown Menu -->
            <div class="dropdown">
              <button class="dropbtn">
                <img src="{{ url_for('static', filename='assets/menu-icon.png') }}" alt="Menu Icon" class="logo-img">
              </button>
              <div class="dropdown-content">
                <a href="/join">Join now</a>
                <a href="/signin">Sign in</a>
                <a href="/about">About us</a>
                <a href="/careers">Careers</a>
        
              </div>
            </div>

        </div>
    </nav>

    <main>
        <h2>Welcome, {{ current_user.username }}!</h2>
        <a href="{{ url_for('logout') }}">Logout</a>
    </main>

</body>

</html> -->